<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gopher.meidcalcollection"
    android:installLocation="internalOnly">

    <!-- 屏幕兼容模式配置 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".common.TotalApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_recycle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_recycle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置程序启动界面 -->
        <activity
            android:name=".launcher.Launcher"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_pl2303_hxdsimple_test"
            android:screenOrientation="landscape" />
        <activity
            android:name=".upload.UploadActivity"
            android:label="@string/upload_label" />
        <activity
            android:name=".recyclecart.RecycleCart"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/recyclecart_label" />
        <activity
            android:name=".transferworkshop.TransferWorkshop"
            android:label="@string/transferworkshop_label" />
        <activity
            android:name=".transfercar.TransferCar"
            android:label="@string/transfercar_label" />

        <receiver
            android:name=".common.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".common.UartBroadCast" />

        <service
            android:name=".common.UartService"
            android:enabled="true"
            android:label="@string/uart_label"
            android:permission="android.hardware.usb.host">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </service>
        <service
            android:name=".common.util.MyNetworkListener"
            android:enabled="true" />
        <service
            android:name=".JobSchedulerService"
            android:enabled="true"
            android:label="@string/uart_label"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>